@import "../../static/styles/dimens.scss";
@import "../../static/styles/colors.scss";

.mainContainer{
  background-color: rgba(231, 231, 231, 0.911);
  padding: .5vw;
  display: -ms-flexbox;
  flex-wrap: wrap;
  flex-direction: column;
  flex-flow: row wrap; 
  flex-flow: row wrap;
  display: flex;
}

.card{
  border: 1px solid rgb(172, 172, 172);
  flex: auto;
  width: 10%; 
  margin: 1rem;
  position: relative;
}

.card__title{
  color: white;
  background: rgb(50, 68, 102); 
  font-size: .8rem;
  width: 100%;
  font-family: 'Marmelad', sans-serif;  
  
}
.card__image{
  width: 100%; 
  height: auto; 
}

@media screen and (max-width: 1200px) {
  .card { 
    margin: 3% .5vw;
    width: 25%; 
  }
  .mainContainer { padding: 0; }
  
}

@media screen and (max-width: 800px) {
  .card { 
    margin: 3% .5vw;
    width: 40%; 
  }
  .mainContainer { padding: 0; }
  
}

@media screen and (max-width: 400px) {
  .card { 
    margin: 3% .5vw;
    width: 50%; 
  }
  .mainContainer { padding: 0; }
  
}